/*
   original: https://github.com/pages-themes/hacker 
*/

$apple-blossom: #ac4142;
$alto: #e3d5d5;
$bouquet: #c495bb;
$chelsea-cucumber: #aad154;
$cod-grey: #403a3a;
$conifer: #c42d7b;
$dove-grey: #888;
$gallery: #eaeaea;
$grey: #666;
$gulf-stream: #fcad35;
$hippie-blue: #3ec425;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;
